@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
    font-family: 'Mukta', sans-serif
}

header{
    display:flex;
    align-items:center;
    background-color: gray;
    color: white; 
    border-radius: 25px;
    text-align: center; 
}

 section {
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr; 
}

.section {
    align-items: center;
    background-color: lightgray; 
    color: black; 
    padding: 1rem; 
    width: 95%;
    margin-top: 15px; 
    margin-bottom: 15px; 
}

img {
    width: 100%; 
}

h3 {
    align-items: center;
    background-color: navy; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
    margin-top: 0px; 
}

div {
    width: 100%; 
}

#content{
    margin: 0 auto; 
    width: 500px; 
}

footer{
    align-items: center;
    background-color: rgb(144, 117, 50); 
    color: white; 
    text-align: center; 
    padding: 1rem; 
    border-radius: 25px;

}