@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Mukta&display=swap');

body {
    font-family: 'Mukta', sans-serif;
}

#font {
    font-family: 'Lora', sans-serif; 
}

main {
    max-width: 540px;
    margin:0 auto;
    padding: 1rem; 
}

main div {
    border: 1px solid black; 
    padding: 1rem; 

}

#content {
    display: grid; 
    border: none; 
    row-gap: 0.5rem;
}

.spotlight {
    padding: 1rem; 
}

.spotlight3 {
    display: none; 
}

header img{
    margin: 1rem; 
    height: 70px; 
    width: 100px; 
}

#facebook, #twitter {
    height: 30px; 
    width: 30px; 
}

.flex {
    display: flex; 
    align-items: center;
}

#date {
    align-items: center;
    text-align: center; 
    padding: 1rem; 
    background-color: lightgray;
}

.join {
    display:none; 
}

footer {
    text-align: center; 
}

footer img {
    height: 70px; 
    width: 100px;
}

header, footer {
    font-family: 'Lora', sans-serif; 
    max-width: 540px;
    margin:0 auto;
    padding: 1rem; 
    background-color: lightblue;
}

nav ul {
    display: flex; 
    flex-direction: column; 
    list-style: none; 
    padding-inline-start: 0px;
    text-align: center;
    align-items: center;
}

nav ul li:hover {
    background-color: rgb(214, 214, 214);
}

nav ul li {
    border: 1px solid black;
    text-align: center;
    width: 100%; 
}

nav a {
    display: block;
    margin: 1rem; 
    text-decoration: none;
    color: black; 
}

.active {
    background-color: pink; 
}

#navbar {
    display: none; 
}

#menu-open {
    display:none; 
    border: none; 
}

#menu-close {
    display: inline; 
    border: none; 
}

#navbar.menu-active {
    display: flex; 
}

#menu-open.menu-active {
    display: inline; 
}

#menu-close.menu-active {
    display: none; 
}

#ham-menu {
    font-size: 5rem;
    border: 0; 
    color: navy; 
    background-color: lightblue; 
}

/* Media Query Updates for middle widths */ 

@media screen and (min-width: 840px) {
    header, footer, main {
        max-width: 840px;
    }
    #content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem; 
    }
    .join {
        display: grid;
        grid-column: 1/4; 
        grid-row: 4; 
    }
    .hero {
        grid-column: 1/4; 
        grid-row: 1; 
    }
    .news {
        grid-column: 1/4; 
        grid-row: 2; 
    }
    .event {
        grid-column: 1/4;
        grid-row: 5; 
    }
    .weather {
        grid-column: 3; 
        grid-row: 5; 
    }
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        text-align: center; 
    }

    #navbar {
        display: flex; 
    }

    #ham-menu {
        display: none; 
    }

    .spotlight {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-row: 3;
        grid-column: 1/4;
    }

    .spotlight1, .spotlight2 {
        margin: 0.4rem; 
    }
    #footer {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        padding: 1rem; 
        align-items: center;
    }

    footer img {
        height: 140px;
        width: 200px; 
    }
} 

@media screen and (min-width: 1100px) {
    header, footer, main {
        max-width: 1200px;
    }

    #content {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem; 
    }

    .hero {
        grid-column: 2/4; 
        grid-row: 1/3; 
    }

    .event {
        grid-column: 1; 
        grid-row: 1;
    }

    .weather {
        grid-column: 1; 
        grid-row: 2; 
    }

    .join {
        grid-column: 1; 
        grid-row: 3; 
    }

    .news {
        grid-column: 2/4; 
        grid-row: 3; 
    }

    .spotlight {
        grid-column: 4; 
        grid-row: 1/4; 
        align-items: center;
        padding: 0.4rem; 
    }
    .spotlight3 {
        display: grid; 
        grid-row: 3; 
        margin: 0.4rem; 
        width: 160%; 
    }
    .spotlight1 {
        grid-row: 1;
        width: 160%; 
    }
    .spotlight2 {
        grid-row: 2; 
        width: 160%; 
    }
    
}