
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Lora&family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2000px;
    align-content: center;
    margin:0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(244, 243, 234);
}

#mainlogo {
    padding: .7rem;
    border: 1px dotted rgb(137, 137, 137);
    border-radius: 10px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 2rem;
    font-weight: 400;
    color: #475569;
    font-family:'Mukta',  sans-serif; 
}

.nav-link:hover{
    color: #558564;
}

.nav-logo {
    font-size: 3rem;
    color: #795657;
    font-family: "Libre Baskerville", sans-serif; 
}

.hero {
    position: relative;
}

.hero img {
    width: 100%; 
    opacity: 90%;
}

#heromessage {
    position: absolute; 
    color: rgb(244, 243, 234); 
    top: 30%; 
    background-color: #795657;
    padding: 1rem;
    opacity: 90%;
    width: 100%;
    text-align: center; 
    font-family: "Libre Baskerville", sans-serif;
    box-shadow: .25rem .25rem .75rem #333;
}

#freshindex {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    margin: 1rem;
    background-color: rgb(244, 243, 234);
    align-items: center;
}

#fruitsection {
    position: relative; 
    width: 100%; 
    padding: 1rem; 
}

#image {
    width: 90%; 
}

#fruitq{
    position: absolute; 
    top: 50px; 
    right: 0px; 
    width: 40%; 
    margin: 0px; 
    background-color: rgb(89, 57, 63);
    color: white; 
    font-family: "Mukta", sans-serif;
    padding: 2rem;
    box-shadow: -.25rem -.25rem .75rem #333;

}

#count {
    text-align: center;
}

#explain {
    display: grid;
    color: rgb(244, 243, 234); 
    background-color: #494949;
    padding: 2.5rem;
    font-family: "Mukta", sans-serif; 
    margin: .5rem;
    text-align: center; 
}

.freshbutton {
    background-color: #dad7ce;
    text-align: center;
    padding: .002rem; 
    color: #000000;
    margin: 1rem; 
    border-radius: 30px;
}

.freshbutton a:hover {
    color: #558564;
}

.freshbutton a {
    text-decoration: none;
    color: #000000;
}

#cali {
    position: relative; 
}
#cali img {
    width: 100%; 
    opacity: 80%;
}

footer {
    text-align: center;
    background-color: rgb(244, 243, 234);
    font-family: "Mukta", sans-serif;
    padding: 3rem;
    font-size: 1.3rem;
    color:#333

}

#location {
    position: absolute; 
    top: 10px;
    background-color: #dad7ce;
    padding: 2rem;
    width: 50%;
    font-family: "Libre Baskerville", sans-serif;
    box-shadow: .25rem .25rem .55rem #333;

}

#contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(89, 57, 63);
    color: white; 
    text-align: center;
    padding: 1rem; 
    font-family: "Libre Baskerville", sans-serif;
}

#contactinfo a {
    text-decoration: none;
    color: white; 
}

#aboutbutton {
    padding: 1rem; 
}

#aboutbutton a {
    color: black; 
}

#facebook, #twitter {
    width: 10%; 
    margin: 1rem; 
}

#abouttitle {
    position: absolute; 
    top: 40px; 
    color: #795657; 
    font-family: "Libre Baskerville", sans-serif;
    background-color: rgb(244, 243, 234);
    padding: 1.5rem; 
    margin: 2rem; 
}

.form{
    font-family: "Libre Baskerville", sans-serif;
    padding: 1rem;
    background-color: rgb(244, 243, 234);
    align-items: center;
    border: 1px dotted black;
    max-width: 50%;
    position: absolute; 
    top: 110px; 
    left: 5rem; 
}

#form {
    font-family: "Libre Baskerville", sans-serif;
    padding: 1rem;
    background-color: rgb(244, 243, 234);
    align-items: center;
    border: 1px dotted black;
    max-width: 50%;
    position: absolute; 
    top: 10px; 
    left: 5rem; 
}

.form p {
    line-height: 2rem; 
}

#submit {
    padding: 1rem; 
    border-radius: 10px;
    border: none;
    color: white; 
    background-color: rgb(89, 57, 63);
}


@media only screen and (max-width: 1200px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        background-color: rgb(244, 243, 234);
        z-index: 10;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #heromessage, #order, .freshbutton {
        font-size: .7rem;
    }
    #freshindex {
        display: block;
    }

    #location {
        font-size: 1rem;
    }

    #form {
        padding: 2fr; 
    }
}

@media only screen and (max-width: 800px) {
    #heromessage, #order, #fruitq, #explain, #contactinfo {
        font-size: .6rem;
        padding: .9rem;
    }

    #location, #abouttitle {
        font-size: .7rem;
        padding: .7rem;
    }

    #fruitq {
        width: 75%; 
    }

    #form {
        font-size: .6rem;
    }

    .form {
        font-size: .6rem;
        padding: .5rem;
        line-height: .03rem;
        top: 70px; 
    }
    
}


